@media (max-width:1024px){
    .header .logo img{
        margin: auto;
    }
    .nav{
        margin-left: 0px;
        padding-right: 30px;
    }
    .nav ul li a{
        font-size: 16px;
        width: 100%;
    }
    main{
        display: block;
    }
    .content{
        width: 100%;
    }
    .list-item{
        padding:0 25px;
    }
    .item{
        width: calc((100% - 60px)/2);
    }
    .item img{
        height: 272px;
    }
    .item:nth-child(4n+1){
        margin-left: 20px;
    }
    .item .item-title{
        font-size: 20px;
    }
    .details{
        padding: 0;
        list-style-type: none;
        display: flex;
}
    .details li{
        width: calc((100%)/2);
        margin-left: 0px;
        font-size: 18px;
        height: auto;
    }
    .details li:nth-child(2), .details li:last-child{
        margin-left: 0px;
        width: calc((100%)/2);
        padding-left: 40px;

    }
    .sidebar{
        width: 100%;
        margin-left: 0;
        padding: 20px;        
    }
    .sidebar .list{
        width: 100%;
        margin: auto;
    }
    .list .list-title{
        font-size: 26px;
        text-transform: uppercase;
    }
    .product .product-item img{
        width: 1000px;
    }
    .product .product-name{
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
    .product .product-name p:first-child{
        padding: 20px
    }
    .menu-footer .col-menu{
        width: calc(100%/2);
    }
    .menu-footer .col-menu:last-child{
        display: none;
    }
}
@media (max-width:500px){
    .header {
        height: 220px;
    }
    .content h2{
        font-size: 22px;
    }
    .list-item{
        display: block;
    }
    .item{
        width: 100%;
    }
    .item,.item:nth-child(4n+1) {
        margin-left: 0;
    }
    .nav {
        display: none;
    }
    .details{
        margin-left: 10px;
    }
    .product{
        display: block;
    }
    .list .list-title{
        font-size: 22px;
    }
    .product-item img{
        width: 200px;
        height: auto;
    }
    .product .product-name{
        font-size: 20px;
    }
    .menu-footer {
        display: block;
    }
    .menu-footer .col-menu{
        width: 100%;
    }
    .footer .col-menu ul li a{
        text-align: center;
    }
    .col-menu ul li:last-child{
        display: block;
    }
}